.navigation-container {
  transition: all 0.75s ease;
  backdrop-filter: blur(10px);
  background-color: var(--white);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--blue-border);
  box-shadow: 0 2px 8px var(--primary-blue-transparent);
}

.navigation-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 1.25rem;
  margin: 0 auto;
  transition: padding 0.3s ease, gap 0.3s ease;
}

.navigation-layout > :nth-child(1) {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: gap 0.3s ease;
}

.navigation-layout > :nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

p {
  color: var(--primary-blue);
  font-weight: 900;
}

.divider {
  border-left: 1px solid var(--blue-border);
  transition: opacity 0.3s ease;
}

@media (max-width: 1200px) {
  .navigation-layout {
    padding: 1.25rem;
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 786px) {
  .navigation-layout {
    padding: 0.25rem 0.5rem;
    justify-content: flex-start;
  }

  .navigation-layout > :nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation-layout > :nth-child(2) {
    display: none;
  }
}
