.announcement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}

.announcement-layout {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.announcement-texts {
  padding: 2rem;
}

.announcement-button {
  background: rgba(255, 255, 255, 0.534);
  color: var(--primary-blue);
  border: none;
  /* border-radius: 1rem; */
  /* border: 1px solid var(--accent-blue-transparent); */
  transition: all 0.3s ease;
}

.announcement-button:hover {
  transform: scale(1.25);
}

.announcement-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  transform: none;
}

.announcement-text {
  padding: 1rem;
}
