.base {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -1px;
  flex-shrink: 1;
  transition: all 0.75s ease;
}

/*font color*/
.text-primary {
  color: var(--primary-blue);
}

.text-dark {
  color: var(--text-color);
}

.text-ghost {
  color: var(--text-muted);
}

/*font size*/
.text-sm {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
}

.text-md {
  font-size: clamp(1.125rem, 3vw, 1.75rem);
}

.text-lg {
  font-size: clamp(1.75rem, 5vw, 3.5rem); /* min, preferred, max */
}
